.chatWrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto;
  column-gap: 15px;
  padding-top: 20px;
}
.chatBlockContact {
  flex: 1 1 auto;
  margin-bottom: 10px !important;
  overflow-y: auto;
}
/* Скрываем scrollbar для Chrome, Safari и Opera */
.chatBlockContact::-webkit-scrollbar {
  display: none;
}
/* Скрываем scrollbar для IE, Edge и Firefox */
.chatBlockContact {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}
.AllChatsUserCard {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.ChatUserImage {
  border-radius: 10px;
}

.AllMessageWrapper {
  height: calc(100vh - 150px);
  display: flex !important;
  flex-direction: column !important;
}

.ChatDataMessage {
  flex: 1 1 auto;
  margin-bottom: 10px !important;
  overflow-y: auto;
}
/* Скрываем scrollbar для Chrome, Safari и Opera */
.ChatDataMessage::-webkit-scrollbar {
  display: none;
}
/* Скрываем scrollbar для IE, Edge и Firefox */
.ChatDataMessage {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}
.chatCommentGlobal {
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
}

.chatComment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatComment2 {
  padding: 20px;
  margin-bottom: 10px !important;
  border-radius: 20px 20px 20px 0 !important;
  width: max-content;
  background: rgba(89, 89, 89, 0.49) !important;
  color: #fff !important;
}
.chatCommentchild {
  width: max-content;
  background: #ffdd00 !important;
  color: #000 !important;
  border-radius: 20px 20px 0 20px !important;
  padding: 15px;
  margin-bottom: 10px !important;
}
.chatCommentchild2 {
  border-radius: 20px 20px 20px 0;
}

.chatComment2,
.chatComment p {
  width: 70vw;
  max-width: max-content;
  word-wrap: break-word !important;
  word-break: break-all !important;
}
.chatCommentchildTime {
  font-size: 10px;
}

.chatCommentchildText {
  font-size: 18px;
}
/*.ChatEditor {*/
.chatFormItems {
  height: 50px !important;
}

/* telegrem button color #3476ab */

@media (min-width: 220px) and (max-width: 1175px) {
  .chatWrapper {
    display: flex;
    flex-direction: column;
  }

  .chatBlockContact {
    display: none;
  }

  .ChatEditor > div {
    padding: 10px !important;
  }

  .chatFormItems {
    height: 50px !important;
    margin-bottom: 0 !important;
    font-size: 18px !important;
  }
}
