.masterWrapper {
  display: grid;
  grid-template-columns: 20% 75%;
  grid-template-rows: auto;
  column-gap: 60px;
}


/*master comment*/
.MasterMessageWrapper  {
  height: calc(100vh - 280px);
  display: flex !important;
  flex-direction: column !important;
}

.MasterDataMessage {
  flex: 1 1 auto;
  margin-bottom: 10px !important;
}

.MasterChatEditor {

}

@media (min-width: 220px) and (max-width: 1175px) {
  .masterWrapper {
    display: flex;
    flex-direction: column;
  }
  .MasterTab {
    margin-top: 15px;
  }
}
