.MyWorkBlock {
  width: 100%;
  max-width: calc(100vw - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.MyWorkForm {
  width: 50%;
}
.MyWorkormInput {
  height: 56px;
  font-size: 18px !important;
}
.MyWorkFormTextArea {
  font-size: 18px !important;
}
.MayWorkNavigateBlock {
  margin-top: 30px;
}
@media (min-width: 220px) and (max-width: 1175px) {
  .MyWorkBlock {
    max-width: calc(100vw - 40px);
  }
  .MyWorkForm {
    width: 100%;
  }
}
