.layout {
    min-height: 100dvh !important;
    width: 100%;
}

.header {
    width: 100% !important;
    height: max-content !important;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerBlock1 {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 10%;
    grid-template-rows: auto;
    /*padding-left: 10px;*/
    align-items: center;
    justify-content: center;
    padding: 0;
}

.headerLogo {
    font-weight: 700;
    font-size: 24px !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: navajowhite;
}

.headerMobileMenu {
    display: none;
}

.headerCategoryIcons {
    width: 18px;
    height: 18px;
    color: #ffffff;
}

.headerKondidatText {
    display: none;
}

.headerNav {
    width: calc(100vw - 200px);
    padding: 10px;
}

/* antd layaut */
.content {
    min-height: calc(100vh - 94px) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-top: 10px;*/
}


.section {
    height: inherit;
    width: 100% !important;
    max-width: calc(100vw - 400px) !important;
    /*margin-top: 20px;*/
}

.footer {
    /*position: fixed;*/
    /*bottom: 0;*/
    /*z-index: 1;*/
    width: 100%;
    height: 60px;
    padding: 0 0 !important;
    background: #001529 !important;
}

.footerChildMenu {
    display: none;
}

.footerChildLink {
    display: flex;
    justify-content: center;
    height: inherit;
    align-items: center;
}

@media (min-width: 1176px) and (max-width: 1300px) {
    .header {
        height: max-content !important;
        /*display: flex;*/
        /*justify-content: space-between !important;*/
        /*align-items: center;*/
        /*padding: 0 15px 0 15px !important;*/
    }

    /*.headerBlock1 {*/
    /*    height: max-content !important;*/
    /*    width: 100%;*/
    /*    max-width: calc(100vw - 30px);*/
    /*    padding-left: 0;*/
    /*    !*padding-top: 15px;*!*/
    /*    display: flex;*/
    /*    justify-content: space-between !important;*/
    /*    align-items: center;*/
    /*}*/
}

@media (min-width: 220px) and (max-width: 1175px) {
    .layout {
        padding-bottom: 15px;
    }

    .header {
        width: 100vw !important;
        height: max-content !important;
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        padding: 15px 15px 10px 15px !important;
    }

    .headerBlock1 {
        height: max-content !important;
        width: inherit !important;
        max-width: calc(100vw - 30px);
        padding-left: 0;
        /*padding-top: 15px;*/
        display: grid;
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: 25px 50px;
        row-gap: 10px;
    }

    .headerLogo {
        display: none;
    }

    .headerMobileMenu {
        display: block;
    }

    .headerMobileMenuIcon {
        color: #f4d201;
        width: 22px;
        height: 18px;
        font-size: 22px;
    }

    .headerKondidatText {
        display: block;
        font-weight: 700;
        font-size: 18px;
        color: #ffffff;
    }

    .headerSerchMobile {
        width: 100%;
        max-width: calc(100vw - 30px);
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        /*margin-top: 20px;*/
        /*margin-top: 10px;margin-top: 10px;*/
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headerNotificationIconBlock {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .content {
        width: 100vw !important;
        overflow: hidden;
        padding: 0 20px;
    }

    .section {
        max-width: 100vw !important;
        padding-bottom: 40px !important;
    }

    .footer {
        position: fixed;
        bottom: 0;
        z-index: 1;
    }

    .footerChildMenu {
        padding-top: 7px;
        display: block;
    }

    .footerChildLink {
        display: none;
    }

}
